.login {
  min-height: 100vh;
}

.bg-image {
  background-image: url("https://source.unsplash.com/QBCS3iSKAyE/600x1200");
  background-size: cover;
  background-position: center;
}

.login-heading {
  font-weight: 300;
}

.btn-login {
  font-size: 1rem;
  letter-spacing: 0.05rem;
  padding: 1rem 1rem;
}
